
<div class="container-fluid">
  <h1 class="mt-4">Application Users</h1>
  <div class="row">
      <div class="col-md-12">
          <a class="btn btn-success" routerLink="/user/add">New User Add</a>
          <hr />
      </div>

      <div class="col-md-12">
          <table class="table table-bordered">
              <tr>
                  <th> Id </th>
                  <th> Username </th>
                  <th> Email </th>
                  <th> UserGroup </th>
                  <th> Actions </th>
              </tr>
              <tr *ngFor="let user of applicationUsers">
                  <td>{{user.id}}</td>
                  <td>
                      <a routerLink="/users/detail/{{user.id}}">
                          {{user.username}}
                      </a>
                  </td>

                  <td>{{user.emailAddress}}</td>
                  <td>{{user.applicationUserGroupId}}</td>
                 
                  <td width="200">
                      <a class="btn btn-primary btn-sm" routerLink="/users/detail/{{user.id}}">
                          View
                      </a>
                      &nbsp;
                      <a class="btn btn-warning btn-sm text-white" routerLink="/users/detail/{{user.id}}">
                          Edit
                      </a>
                      &nbsp;
                      <a class="btn btn-danger btn-sm text-white">
                          Delete
                      </a>
                  </td>
              </tr>
          </table>
      </div>
  </div>

</div>