<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> TaskTrackerApp </div>
    <div class="list-group list-group-flush">
      <a routerLink="dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="companies" class="list-group-item list-group-item-action bg-light">Companies</a>
      <a routerLink="projects" class="list-group-item list-group-item-action bg-light">Projects</a>
      <a routerLink="usergroups" class="list-group-item list-group-item-action bg-light">ApplicationUserGroup</a>
      <a routerLink="users" class="list-group-item list-group-item-action bg-light">ApplicationUser</a>
      <a routerLink="tasks" class="list-group-item list-group-item-action bg-light">Tasks</a>
      <a routerLink="tasklogs" class="list-group-item list-group-item-action bg-light">Task Logs</a>
      <a routerLink="taskstatuses" class="list-group-item list-group-item-action bg-light">TaskStatuses</a>
    </div>
  </div>