<div class="container-fluid">
    <h1 class="mt-4">Task Logs</h1>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-success" routerLink="/tasklog/add">New TaskLog</a>
            <hr />
        </div>

        <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <th> Id </th>
                    <th> Description </th>
                    <th> LogDate </th>
                    <th> Actions </th>
                </tr>
                <tr *ngFor="let taskLog of taskLogs">
                    <td>{{taskLog.id}}</td>
                    
                    <td>
                        {{taskLog.description}}
                    </td>

                    <td>
                        {{taskLog.logDate | date}}
                    </td>

                    <td width="200">
                        <a class="btn btn-primary btn-sm" routerLink="/taskLog/detail/{{taskLog.id}}">
                            View
                        </a>
                        &nbsp;
                        <a class="btn btn-warning btn-sm text-white" routerLink="/taskLog/detail/{{taskLog.id}}">
                            Edit
                        </a>
                        &nbsp;
                        <a class="btn btn-danger btn-sm text-white">
                            Delete2
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>